{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    {% if error %}
        <p>{{ error.messageKey }}</p>
        {{ dump(error.messageData) }}
    {% endif %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        Hi {{ app.user.username }}<br />
        <p><a href="{{ path('logout') }}">&raquo; LOG OUT</a></p>
    {% endif %}

    {% if is_granted("ROLE_SERGENT") %}
        <p>YOU ARE AN SERGENT</p>
    {% elseif is_granted("ROLE_SOLDIER") %}
        <p>YOU ARE A SOLDIER</p>
    {% else %}
        Not logged in
    {% endif %}

    <h1>LOGIN</h1>
    <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <label>
            Username:<input type="email" name="_username" value="{{ last_username }}" />
        </label><br>
        <label>
            Password:<input type="password" name="_password" />
        </label><br>
        <button type="submit">LOGIN</button>
    </form>
    <button onclick="location.href='{{ path('register') }}';">Register</button>
    <button onclick="location.href='{{ path('home') }}';">Main page</button>
{% endblock %}
