{% extends 'base.html.twig' %}

{% block body %}

{% if error %}
    <p>{{ error.messageKey }}</p>
    {{ dump(error.messageData) }}
{% endif %}

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    Hi {{ app.user.username }}<br />
    <p><a href="{{ path('logout') }}">&raquo; LOG OUT</a></p>
{% endif %}

{% if is_granted("ROLE_ADMIN") %}
    <p>YOU ARE AN ADMIN</p>
{% elseif is_granted("ROLE_USER") %}
    <p>YOU ARE A USER</p>
{% else %}
    Not logged in
{% endif %}

    <h1>REGISTER</h1>
    <form action="{{ path('register') }}" method="post">
        <label for="username">Username:</label>
        <input type="email" name="_username" value="{{ last_username }}" />
        <label for="password">Password:</label>
        <input type="password" name="_password" />
        <button type="submit">REGISTER</button>
    </form>

{% endblock %}
